*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mid-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    font-size: 18px;
}
.buttons{
    display: inline-flex;
    height: 40px;
    justify-content: space-between;
}
.buttons button{
   width: 100px;
   margin: 5px;
   height: 30px;
   border-radius: 8px;
}
.buttons button:first-child{
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 15px;
    border: none;
}
.buttons button:last-child{
    background-color: red;
    color: white;
    cursor: pointer;
    font-size: 15px;
    border: none;
}